:root {
    --primary: #cf86ec;
    --secondary: rgb(128, 39, 187);
    --dark: rgb(44, 44, 44);
    --complementary: rgb(253, 220, 204);
}

body { 
    background-color: var(--primary);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.nav {
    background-color: var(--dark);
}

.nav-item a {
    color: var(--primary);
}

.nav-item a:hover {
    color: var(--complementary);
}

#cover {
    height: 80vh;
}

#cover-photo {
    height: 100%;
    min-width: 100%;
}

#about-me {
    top: 20%;
    right: 0;
    width: 50%;
    text-align: center;
    color: var(--complementary);
}

#about-me h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    font-weight: 800;
}

#resume {
    height: 80vh;
}